extends layout
block body

    nav.top-bar
        ul.title-area
            li.name
                h1
                    a(href="#") N-irc
            li.toggle-topbar.menu-icon
                a(href="#")
                    span Menu
        section.top-bar-section
            ul.right
                li
                    a(href="#", data-reveal-id="sendToRoom") Send To Room
                li
                    a(href="#", data-reveal-id="sendToUser") Send To User

    div(ng-controller='AppCtrl').container
        div.row
            div.large-2.columns
                div.panel Current Room:
                    p#room Global

            div.large-8.columns
                div.row.collapse
                    div.small-9.columns
                        input(type="text",placeholder="Room Name", value="global").inline#roomname
                    div.small-3.columns
                        a(href="#").button.prefix#setRoom Enter Room
                div.row.collapse
                    div.small-9.columns
                        input(type="text",placeholder="Nickname").inline#nickname
                    div.small-3.columns
                        a(href="#").disabled.button.prefix#setNickname Set Nickname

            div.large-2.columns
                div.panel Nickname:
                    p#nick Guest

        div.row
            div.large-2.columns
                span.label Room(s) List
                ul.side-nav#roomList

            div.large-8.columns
                h4#status Disconnected
                textarea.chatbox#chatbox
                input(type="text", ng-model="message", placeholder="Message").large#message
                button.disabled.button#send Send
                button.disabled.buton#worldBroadcast World Broadcast
            div.large-2.columns
                span.label User(s)
                ul.side-nav#userList

        footer(class="row")
            div(class="large-12 columns")
                hr
                div(class="row")
                    div(class="large-6 columns")
                        p &copy; Copyright no one at all. Go to town.
                    div(class="large-6 columns")
                        ul(class="inline-list right")
                            li
                                a(href="#") Section 1
                            li
                                a(href="#") Section 2
                            li
                                a(href="#") Section 3
                            li
                                a(href="#") Section 4

        div.reveal-modal(style="display:none")#sendToRoom
            input(type="text", placeholder="Room Name")
            input(type="text", placeholder="Message")
            button.button Send
            a.close-reveal-modal &#215;

        div.reveal-modal(style="display:none")#sendToUser
            input(type="text", placeholder="User Name")
            input(type="text", placeholder="Message")
            button.button Send
            a.close-reveal-modal &#215;

    script document.write('<script src=js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
    script(src='/socket.io/socket.io.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-socket-io/socket.js')
    script(src='js/myscript.js')
    script(src='js/foundation/foundation.js')
    script(src='js/foundation/foundation.reveal.js')

//    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
//    script(src='js/app.js')
//    script(src='js/services.js')
//    script(src='js/controllers.js')
//    script(src='js/filters.js')
//    script(src='js/directives.js')

