extends layout
block body

    nav.top-bar
        ul.title-area
            li.name
                h1
                    a(href="#") Top Bar Title
            li.toggle-topbar.menu-icon
                a(href="#")
                    span Menu

    div(ng-controller='AppCtrl')
        div.row
            div.large-2.columns &nbsp;

            div.large-8.columns
                div.row.collapse
                    div.small-9.columns
                        input(type="text",placeholder="Nickname").inline#nickname
                    div.small-3.columns
                        a(href="#").button.prefix#setNickname Set Nickname

            div.large-2.columns &nbsp;

        div.row
            div.large-2.columns
                span Room(s) List
                    ul.side-nav
                        li
                            a(href="room1") Room 1
                        li
                            a(href="room2") Room 2
                        li
                            a(href="room3") Room 3
                        li
                            a(href="room4") Room 4
                        li
                            a(href="room5") Room 5
                        li
                            a(href="room6") Room 6
                        li
                            a(href="room7") Room 7
                        li
                            a(href="room8") Room 8
                        li
                            a(href="room9") Room 9
                        li
                            a(href="room10") Room 10
                        li
                            a(href="room11") Room 11
                        li
                            a(href="room12") Room 12
                        li
                            a(href="room13") Room 13
                        li
                            a(href="room14") Room 14
                        li
                            a(href="room15") Room 15
            div.large-8.columns
                textarea.chatbox#chatbox
                input(type="text", ng-model="message").large#message
                button.button#send Send
                button.buton#worldBroadcast World Broadcast
            div.large-2.columns
                span User(s)
                ul.side-nav#userList

        footer(class="row")
            div(class="large-12 columns")
                hr
                div(class="row")
                    div(class="large-6 columns")
                        p &copy; Copyright no one at all. Go to town.
                    div(class="large-6 columns")
                        ul(class="inline-list right")
                            li
                                a(href="#") Section 1
                            li
                                a(href="#") Section 2
                            li
                                a(href="#") Section 3
                            li
                                a(href="#") Section 4

    script(src='/socket.io/socket.io.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-socket-io/socket.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/myscript.js')
//    script(src='js/app.js')
//    script(src='js/services.js')
//    script(src='js/controllers.js')
//    script(src='js/filters.js')
//    script(src='js/directives.js')

