!!!
//html(ng-app="myApp")
html()
  head
    meta(charset='utf8')
    base(href='/')
    title Nirc
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/mystyle.css')
  body
    block body